block variables
  - pageTitle = 'UI-kit page'

doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    title=pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
      include ../ui-kit/index-menu/index-menu.pug 

      block content

      +index_menu({
        title: 'UI-kit',
        menu: [
          {link: './colors_type.html', name: 'Colors & Type'},
          {link: './header_footer.html', name: 'Header & Footer'},
          {link: './cards.html',  name: 'Cards'},
          {link: './form-elements.html', name: 'Form Elements'},
        ]
      })
      +index_menu({
        title: 'Toxin pages',
        menu: [
          {link: './landing-page.html', name: 'Landing page'},
          {link: './search-room.html', name: 'Search room'},
          {link: './room-details.html', name: 'Room details'},
          {link: './register-in.html', name: 'Registration'},
          {link: './sign-in.html', name: 'Sign in'},
        ],
      })
